<!-- Detailed view of specific notification -->
<div class="panel panel-primary">
    <% if (notification) {%>
    <div class="panel-heading"><%= notification.title %></div>
      <div class="panel-body">
        <p><%= notification.date %></p>
        <p><%= notification.office_id %></p>
        <div><%- notification.content %></div>   
        <p><% if(notification.notified){ %>
        		Notificada
        <% } %></p>     
      </div>         
     <% }%>
</div>
<!-- end detailed view -->