<!-- Detailed view of specific notification -->
<div class="panel panel-primary">
    <% if (notification) {%>
    <div class="panel-heading"><%= notification.title %></div>
      <div class="panel-body">
        <p><%= moment(notification.date).format('DD/MM/YYYY, h:mm:ss a')  %></p>
        <p><%= notification.office_id %></p>
        <div style="word-wrap: break-word;"><%- notification.content %></div>   
        <p><% if(notification.notified){ %>
        		Notificada
        <% } %></p>     
      </div>         
     <% }%>
</div>
<!-- end detailed view -->