<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
	<title>La Central de Escobar S.A.</title>
	<meta name="description" content="La Central de Escobar S.A. - Linea 291" />
  	<meta name="keywords" content="" />
	<meta name="robots" content="" />

	<link href="/sources/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	<div class="container-fluid">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<h1><img src="sources/logo.png" width="450" height="60" /></h1>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<h4 id="date"/>
			<h4 id="time"/>
		</div>
	</div>
	<hr>
	<div class="container">
		<div id ="new_notification"></div>
		<div id="latest_notification">
			<h2 id="notification-title"><%= notification.title %></h2>

			<div id="notification-body">
				<%- notification.content %>
			</div>

		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/sources/js/jquery.min.js"><\/script>')</script>
    <script src="/sources/bootstrap/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/sources/js/custom.js"></script>
	<script src="/sources/js/socket.js"></script>
	<script src="/sources/moments/moments.min.js"></script>
</body>
</html>
